.search_input{
    
    border-bottom: 1px solid #dad7d7;;
    display: flex;
    margin-bottom: 25px;
    position: relative;
    .ct_icon{
        width: 25px;
        height: 25px;
    }
    input{
        border: 0;
        outline: 0;
        flex: 1;
    }
    .history_ct{
        position: absolute;
        width: 100%;
        top:100%;
        background:white;
        border:1px solid #9e9e9e;
        max-height: 200px;
        overflow-y: scroll;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        li{
            text-align: left;
            cursor: pointer;
            
        }
        li:hover{
            background:#ececec;;
        }
    }
}