.ct_outer {
  height: 100%;
  padding: 30px 30px 30px 25px;
  border: 1px solid gray;
  width: 400px;
  overflow-y: scroll;
  position: relative;
}

.ct_outer::-webkit-scrollbar {
  display: none;
}

.ct_outer ul, .ct_outer li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ct_outer .right_bar {
  position: fixed;
  left: 375px;
  top: 50%;
  transform: translateY(-50%);
}

.ct_outer .right_bar .letter_bar {
  max-height: 153px;
  overflow-y: scroll;
  cursor: pointer;
  /* &>li:hover{
                color:white;
                background:#2196f3;
            } */
}

.ct_outer .right_bar .letter_bar::-webkit-scrollbar {
  display: none;
}

.ct_outer .right_bar .letter_bar > li:not(:last-child) {
  margin-bottom: 3px;
}

.ct_outer .right_bar .icon_ct {
  width: 15px;
}

.ct_contacts {
  height: 100%;
  overflow-y: scroll;
}

.ct_contacts::-webkit-scrollbar {
  display: none;
}

.ct_contacts .search_input {
  border-bottom: 1px solid #dad7d7;
  display: flex;
  margin-bottom: 25px;
  position: relative;
}

.ct_contacts .search_input .ct_icon {
  width: 25px;
  height: 25px;
}

.ct_contacts .search_input input {
  border: 0;
  outline: 0;
  flex: 1;
}

.ct_contacts .search_input .history_ct {
  position: absolute;
  width: 100%;
  top: 100%;
  background: white;
  border: 1px solid black;
}

.ct_contacts .ct_list {
  cursor: pointer;
}

.ct_contacts .ct_list > li .ct_category {
  color: gray;
  display: flex;
  border-bottom: 1px solid gray;
}

.ct_contacts .ct_list > li .ct_content > li {
  border-bottom: 1px solid #ececec;
}

.ct_contacts .ct_list > li .ct_content > li:hover {
  color: white;
  background: #2196f3;
}

.ct_contacts .ct_list > li:not(:last-child) {
  margin-bottom: 10px;
}
